<h1>Opps! Please configure your WebViewer first.</h1>
<p class="instruction">You will need to enter this URL: <a href="/file_types/user_id/uuid">http://assets.jobline.com.sg/file_types/user_id/uuid</a> where UUID is the unqiue ID required.</p>
<p class="instruction">Example:</p>
<%= image_tag("instruction_diagram.png", width: 500, alt: "WebViewer instruction") %>
